{% from "_formhelpers.html" import render_field, render_checkbox %}
{% extends "layout.html" %}
{% block title %}Edit User{% endblock %}
{% block body %}
<div class='section'>
  <div class='row'>
    <div class='columns small-12'>
      <form method='post'>
        <div class='registration'>
          <h3>Edit User</h3>
          <hr>
          {{ render_field(form.firstName) }}
          {{ render_field(form.lastName) }}
          {{ render_field(form.userName) }}
          {{ render_field(form.nickName) }}
          {{ render_field(form.phone) }}
          {{ render_field(form.email) }}
          {{ render_field(form.waitingFor) }}
          {{ render_checkbox(form.admin) }}
          <input type='submit' value='Save User' class='button'><a class='button secondary' href="{{url_for('users')}}">Cancel</a><a class='button caution right-if-large' href="/users/{{user.id}}/delete">Delete</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


