{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class='section'>
	<div class='row'>
	  <div class='columns small-12'>
		<h2>What do I do?</h2>
		<p>I work on many different messaging platforms along with this web app. The commands throughout the different platforms are the same. Just type something in, and I'll respond if I have something to say about it! Up ahead are some common commands. Text in brackets ([]) are things you must type in.</p>
		<ul class='list'>
		  <li><b>Weather: </b><code>Get the weather in [city]</code></li>
		  <li><b>Expressions: </b><code>[calculate|calc] [expression]</code>, e.g. calc 2 * 3 ^ 5</li>
		  <li><b>Nickname: </b><code>Call me [nickName]</code></li>
		  <li><b>Current time and date: </b><code>Time</code></li>
		  <li><b>Record Like: </b><code>I like [something]</code></li>
		  <li><b>Remove Like: </b><code>I don't like [something]</code></li>
		  <li><b>List Likes: </b><code>Likes</code></li>
		  <li><b>Gravatar: </b><code>Gravatar [email]</code></li>
		</ul>
		<br>
		<p>There are many more things I respond to, so have fun and try it out!</p>
	  </div>
	</div>
</div>
<div class='section'>
	<div class='row'>
	  <div class='columns small-12'>
		<h2>How does it work?</h2>
		<p>When I receive a new message from any app, the first thing I do is check to see if the user is registered. If not, I'll record his or her information so that I can remember likes, nicknames, and more! After making sure I know who the user is, I'll look through a list of responses to see which response is the best. Once I find the best option, I'll send it back! If I can't find something that seems reasonable, I won't send anything back.</p>
		<p>What about reminders? I actually check once per second to see if any reminders are ready to be sent out. If I see one that is ready, I'll look up the user and chat associated with the reminder and send it out!</p>
	  </div>
	</div>
</div>
<div class='section'>
	<div class='row'>
	  <div class='columns small-12'>
		<h2>Who made me?</h2>
		<p>Sam Henry, a junior computer science major at Bob Jones University in South Carolina. I was just a fun project that he worked on over the summer, and hopes to maintain and add features as he has time. Along with programming, Sam enjoys playing piano, exercising, and learning new things. Feel free to contact him at his <a href='mailto:smlhnry@gmail.com'>email</a>!</p>
	  </div>
	</div>
</div>
{% endblock %}


