{% extends "layout.html" %}
{% block title %}Chat{% endblock %}
{% block body %}
<div class='section'>
  <div class='row'>
    <div class='columns small-12'>
      <h2>Hi, {{current_user.firstName}} {{current_user.lastName}}!</h2>
      <div class='messagearea'>
        <ul class='chatlist'>
          {% for message in messages %}
            <li><span class="{{'you' if message.fromUser else 'bot'}}"><div>{{'You' if message.fromUser else 'SamBot'}}</div><pre>{{message.text}}</pre></span></li>
          {% endfor %}
        </ul>
      </div>
      <textarea class='chatarea'></textarea>
      <div class='button chatbutton right'>Message!</div>
    </div>
  </div>
</div>
{% endblock %}
