<!DOCTYPE html>
<html>
  <head>
    <title>SamBot | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
    <script type='text/javascript' src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <header>
      <div class='row hide-for-small-only'>
        <nav>
          <a href="{{ url_for('index') }}"><img src='/image/sambot.jpg'/></a>
          <a href="{{ url_for('index') }}"><span class="{{ 'active' if page == 'index' else '' }}">Home</span></a>
          <a href="{{ url_for('chat') }}"><span class="{{ 'active' if page == 'chat' else '' }}">Chat</span></a>
          <a href="{{ url_for('about') }}"><span class="{{ 'active' if page == 'about' else '' }}">About</span></a>
          {% if current_user.is_authenticated and current_user.admin %}
            <a href="{{ url_for('users') }}"><span class="{{ 'active' if page == 'users' else '' }}">Users</span></a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile') }}"><div id="settings"><img src='/image/settings.png'/></div></a>
            <div id='settings-dropdown'>
              <ul>
                <a href="{{ url_for('profile') }}"><li>Edit Profile</li></a>
                <a href="{{ url_for('logout') }}"><li>Log Out</li></a>
              </ul>
            </div>
          {% else %}
            <a href="{{ url_for('login') }}"><div class='button' id="login">Log In</div></a>
          {% endif %}
        </nav>
      </div>
      
      <div class='row show-for-small-only'>
        <nav>
          <div class='navTrigger'>
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class='navContent'>
            <a href="{{ url_for('index') }}"><div class="{{ 'active' if page == 'index' else '' }}">Home</div></a>
            <a href="{{ url_for('chat') }}"><div class="{{ 'active' if page == 'chat' else '' }}">Chat</div></a>
            <a href="{{ url_for('about') }}"><div class="{{ 'active' if page == 'about' else '' }}">About</div></a>
            {% if current_user.is_authenticated and current_user.admin %}
              <a href="{{ url_for('users') }}"><div class="{{ 'active' if page == 'users' else '' }}">Users</div></a>
            {% endif %}
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('profile') }}"><div class="{{ 'active' if page == 'profile' else '' }}">Edit Profile</div></a>
              <a href="{{ url_for('logout') }}"><div>Log Out</div></a>
            {% else %}
              <a href="{{ url_for('login') }}"><div class="{{ 'active' if page == 'login' else '' }}">Log In</div></a>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>
    
    
    <div class='row flash-holder'>
      <div class='columns small-12'>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class='flash'>
            {% for category, message in messages %}
              <li class="{{category}}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    
    {% block body %}{% endblock %}
    
    <footer>
      <div class='row'>
        <a href='#' class='top fa fa-arrow-up fa-2x right'></a>
      </div>
      <div class='row'>
        <div class='footer-item small-12 medium-4 columns'>
          <h3 class='footer-header'>Pages</h3>
          <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('chat')}}">Chat</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            {% if current_user.is_authenticated and current_user.admin %}
              <li><a href="{{url_for('users')}}">Users</a></li>
            {% endif %}
          </ul>
        </div>
        <div class='footer-item small-12 medium-4 columns'>
          <h3 class='footer-header'>External Links</h3>
          <ul>
            <li><a href='https://github.com/Samhenry97/SamBot' target='_blank'>Github</a></li>
            <li><a href='https://bootableusb.herokuapp.com' target='_blank'>Bootable USB</a></li>
            <li><a href='http://scarletletterbookreport.weebly.com/' target='_blank'>Scarlet Letter</a></li>
            <li><a href='http://epictimer.weebly.com/' target='_blank'>Epic Timer</a></li>
          </ul>
        </div>
        <div class='footer-item small-12 medium-4 columns'>
          <h3 class='footer-header'>Contact</h3>
          <ul>
            <li><a>Phone: +1 (864) 920-1166</a></li>
            <li><a href='mailto:samthenerdbot@gmail.com'>Email</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class='copyright'>&copy; Sam Henry 2017</p>
    </footer>
  </body>
</html>
