{% from "_formhelpers.html" import render_field, render_checkbox %}
{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block body %}
<div class='section'>
  <div class='row'>
    <div class='columns small-12'>
      <form method='post'>
        <div class='registration'>
          <h3>Log in to chat with SamBot!</h3>
          <hr>
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_checkbox(form.remember) }}
          <input type='submit' value='Log In' class='button'><a class='button secondary' href="{{url_for('register')}}">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}



