{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
<div class='section'>
  <div class='row'>
    <div class='columns small-12'>
      <form method='post'>
        <div class='registration'>
          <h3>Edit Profile</h3>
          <hr>
          {{ render_field(form.firstName) }}
          {{ render_field(form.lastName) }}
          {{ render_field(form.userName) }}
          {{ render_field(form.nickName) }}
          <label>Send Text Reminders</label><input id='phone-reminders' type='checkbox'>
          <span id='phone' style='display: none;'>{{ render_field(form.phone) }}</span>
          {{ render_field(form.email) }}
          {{ render_field(form.waitingFor) }}
          <input type='submit' value='Save Profile' class='button'><a class='button secondary' href="{{url_for('index')}}">Cancel</a><a class='button caution right' href="{{url_for('clearMessages')}}">Delete Chat History</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


