{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block body %}
<div class='section'>
  <div class='row'>
    <div class='columns small-12'>
      <h2>Manage Users ({{count}} Total)</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td>
        <a title='Edit' href="/users/{{user.id}}"><i class='fa fa-cog'></i></a>
        <a title='Delete' href="/users/{{user.id}}/delete"><i class='fa fa-trash'></i></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}


